@keyframes "texto" {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
html {
	font-size: 62.5%;
}
body {
	font-size: 3rem;
	background-color: #e9ff70;
}
.Logo {
	width: 18rem;
}
.fuentesNav {
	font-size: 3rem;
	padding-left: 2rem;
}
.encabezado {
	border-top: solid 10px #e9ff70;
}
.botonBurguer {
	height: 5rem;
	width: 5rem;
}
section {
	img {
		width: 30rem;
		border-radius: 5px;
	}
	button {
		border-radius: 5px;
		background-color: #ffffff;
		width: 10rem;
		height: 4rem;
		cursor: pointer;
		margin-bottom: 1rem;
	}
}
.fondoImg {
	background-image: url("../img/pita\ principal.jpg");
	background-repeat: no-repeat;
	background-position: auto;
	background-size: cover;
	opacity: 90%;
	position: relative;
	height: 60vh;
	width: 100%;
}
.colorBtn {
	background-color: #e9ff70;
	color: black;
	font-size: 2rem;
}
.tituloPrincipal {
	height: 10rem;
	width: 50rem;
	background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: white;
	text-shadow: 4px 3px black;
	font-size: 60px;
}
.tituloProductos {
	background-color: #e9ff70;
	color: black;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	padding: 1rem;
	h2 {
		font-size: 5rem;
	}
}
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card {
	width: 20vw;
	height: auto;
	margin: 10px;
	background-image: radial-gradient(#24FE41,#FDFC47);
}
.contenedor {
	background-color: #e9ff70;
	width: 400px;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	color: black;
	box-shadow: 7px 13px 37px #000;
	h4 {
		font-size: 24px;
		margin-top: 15px;
		margin-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
	}
}
.control {
	width: 100%;
	background-color: #ffffff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 20px;
	border: 1px solid #1f53c5;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	&:focus {
		height: 60px;
	}
}
.boton {
	width: 100%;
	height: 45px;
	margin-top: 15px;
	border-radius: 4px;
	border: none;
	color: white;
	text-transform: uppercase;
	background: linear-gradient(to left top, #000000,#e9ff70);
	font-size: 20px;
	&:hover {
		cursor: pointer;
		transform: translateY(-3px);
		transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
	}
	&:active {
		transform: translateY(3px);
	}
}
h1 {
	animation-name: texto;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}
.imgCarousel {
	height: 350px;
	object-fit: cover;
}
footer {
	padding-top: 3rem;
	background-color: #e9ff70;
	text-align: center;
	color: black;
	ul {
		li {
			a {
				display: inline-block;
				color: black;
				margin: 2rem;
			}
		}
	}
}
